.calScore{
   margin: 10px 10px;
   transition: transform 0.2s ease-in-out;
}
.calScore:hover{
    transform: scale(1.05);
}
.menu {
  position: sticky;
  top: 0;
  z-index: 1000; /* đảm bảo menu nổi trên các thành phần khác */
  background-color: white; /* hoặc màu bạn muốn, để không bị trong suốt */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* tạo hiệu ứng đổ bóng nhẹ */
}
.delete{
    transition: transform 0.2s ease-in-out;
    margin-right: 10px;
}
.delete:hover{
    transform: scale(1.05);
}
.subjectName{
    width: 200px;
    display: inline-block;
    margin-right: 12px;    
}
.score{
    margin-right: 10px;
}
.credit{
    margin-right: 10px;
}
.subject{
    margin-top: 5px;
}
.TaoHocKi{
    display: flex;
    margin-top: 20px;
}
.HocKi{
    width: 120px;
}
.GPA{
    /* margin-bottom: 50px; */
    /* margin: 50px 50px; */
    margin-left: 20px;
    font-weight: bold;
    font-size: large;
}
